---
layout: null
---

@import "@emdgroup-liquid/liquid/dist/css/liquid";

@font-face {
  font-family: "Public Sans";
  src: url("/assets/PublicSans-Light.ttf");
}

:root {
  --ld-font-body: "Public Sans";
}

html {
  margin: 0;
  padding: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  background-color: var(--ld-col-neutral-700);
  font-family: var(--ld-font-body);
  color: var(--ld-col-wht);

  main {
    padding: 1rem 4rem;
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--ld-col-neutral-800);

    h1 sub {
      font-size: 0.8rem;
      font-weight: normal;
    }

    a {
      color: var(--ld-col-rb-300);
      &:visited {
        color: var(--ld-col-rp-100);
      }
      &:hover {
        color: var(--ld-col-vc-200);
      }
    }

    & > ul li {
      margin: var(--ld-sp-16) 0;
    }

    blockquote {
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.3);
      padding: 0.1rem 1rem;
    }

    .image-grid {
      display: flex;
      flex-wrap: wrap;
      width: 80vw;
      margin: 0 auto;
      justify-content: left;
      align-items: top;

      .grid-cell {
        width: calc(250px - 2rem);
        text-align: center;
        background-color: white;
        color: var(--ld-col-neutral-900);
        margin: 2rem;

        a {
          color: var(--ld-col-rb-800);
          &:visited {
            color: var(--ld-col-rb-600);
          }
          &:hover {
            color: var(--ld-col-rb-700);
          }
        }
      }

      &.left .grid-cell {
        text-align: left;
      }

      .grid-cell img {
        max-height: calc(100% - 10px);
        max-width: calc(100% - 10px);
        padding: 5px;
      }
    }
  }
}

#today-in-history {
  nav {
    float: right;
    text-align: center;
  }

  div + div {
    border-top: 2px solid var(--ld-col-rb-200);
  }

  figure img {
    max-width: 100%;
  }
}
