@forward "./modules/colors.scss";
@forward "./modules/flex.scss";
@forward "./modules/grid.scss";
@forward "./modules/header.scss";
@forward "./modules/main.scss";
@forward "./modules/spacing.scss";

// @forward "./modules/gifs.scss";

@font-face {
  font-family: "Public Sans";
  src: url("/assets/fonts/PublicSans.ttf");
}

@font-face {
  font-family: "Young Serif";
  src: url("/assets/fonts/YoungSerif-Regular.ttf");
}

:root {
  font-family: "Public Sans";
  font-weight: 200;
  color-scheme: light dark;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  @extend .color-primary-lightest;
}

p {
  max-width: 68ex;
}

h1,
h2,
h3 {
  font-family: Young Serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
  sub {
    display: block;
    font-family: Public Sans;
    font-size: 1rem;
    margin-top: 1rem;
  }
}

h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
}
h2 {
  font-size: 3rem;
  font-weight: 400;
}
h3 {
  font-size: 2rem;
  font-weight: 300;
}
h4 {
  font-size: 1.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

ul.unstyled {
  list-style: none;
  padding-left: 0;
}
