html {
  font-family: sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

body {
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  background: black;
  color: white;
  margin: 0 0 20px 0;
  padding: 15px;
}

div.nav {
  margin-bottom: 20px;
}

img {
  max-width: 600px;
}

div.image + div.image {
  border-top: 3px solid black;
  margin-top: 30px;
  padding-top: 30px;
}

div.all {
  column-gap: 0;
  display: grid;
  grid-template-columns: 31% 31% 31%;
  margin: 0 auto;
  text-align: left;
  width: 800px;
}

div.all div.cell {
  border: 1px solid black;
  padding: 5px;
}
