<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      mgwalker.github.io{% if title != blank %} » {{ title }}{% endif %}
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/prism/9000.0.1/themes/prism-tomorrow.min.css"
      integrity="sha512-kSwGoyIkfz4+hMo5jkJngSByil9jxJPKbweYec/UgS+S1EgE45qm4Gea7Ks2oxQ7qiYyyZRn66A9df2lMtjIsw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <ld-header
      site-name="mgwalker.github.io{% if title != blank %} » {{ title }}{% endif %}"
      logo-url="/"
      sticky
    >
      <ld-icon size="lg" slot="logo">
        <img src="/assets/images/cooger.svg" style="width: 24px" />
      </ld-icon>
    </ld-header>

    <main>
      <h1>{{ title }}<br /><sub>{{ date | datestamp }}</sub></h1>

      {{ content }}
    </main>
    <script type="module" src="/js/main.js"></script>
  </body>
</html>
