---
layout: layouts/base.html
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      mytinygiraffe.com{% if title != blank %} » {{ title }}{% endif %}
    </title>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark light" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <link preload rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="canonical" href="https://mgwalker.github.io{{ page.url }}" />

    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>

    <meta
      property="og:url"
      content="https://mgwalker.github.io{{ page.url }}"
    />
    <meta property="og:title" content="{{ title }}" />
    {%- if meta.description %}
    <meta property="og:description" content="{{ meta.description}}" />
    {%- endif %}
    <meta property="og:image" content="{{ meta.image}}" />
    {%- if meta.image %} {%- if meta.imageAlt %}
    <meta property="og:image:alt" content="{{ meta.imageAlt}}" />
    {%- endif %} {%- endif %}
  </head>
  <body>
    <header>
      <a href="/"><img src="/assets/images/it-me.png" alt="go home" /></a>
      mytinygiraffe.com{%if title != blank %} » {{ title }}{% endif %}
      <div style="float: right; font-weight: normal" aria-hidden="true">
        <a href="#" onClick="toggleUIMode('light')">light</a>
        /
        <a href="#" onClick="toggleUIMode('dark')">dark</a>
        /
        <a href="#" onClick="toggleUIMode()">system</a>
      </div>
    </header>

    <main>{{ content }}</main>

    <footer>
      <a href="https://toot.darkcooger.net/@mgwalker">Mastodon</a>
      | <a href="https://github.com/mgwalker">GitHub</a>
    </footer>

    <script async type="module" src="/js/main.js"></script>
  </body>
</html>
