---
layout: layouts/base.html
---

<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>
      suddenlygreg.com{% if title != blank %} » {{ title }}{% endif %}
    </title>
    <meta charset="utf-8" />
    <meta name="color-scheme" content="dark light" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,maximum-scale=2" />
    <link preload rel="stylesheet" type="text/css" href="/css/main.css" />
    {% if style %}
    {% for s in style %}
      <link preload rel="stylesheet" type="text/css" href="{{ s }}" />
    {% endfor %}
    {% endif %}
    <link rel="canonical" href="suddenlygreg.com{{ page.url }}" />

    <script>
      /*to prevent Firefox FOUC, this must be here*/
      let FF_FOUC_FIX;
    </script>

    <meta
      property="og:url"
      content="https://suddenlygreg.com{{ page.url }}"
    />
    <meta property="og:title" content="{{ title }}" />
    {%- if meta.description %}
    <meta property="og:description" content="{{ meta.description }}" />
    {%- elsif summary %}
    <meta property="og:description" content="{{ summary }}" />
    {%- endif %}
    <meta property="og:image" content="{{ meta.image}}" />
    {%- if meta.image %} {%- if meta.imageAlt %}
    <meta property="og:image:alt" content="{{ meta.imageAlt}}" />
    {%- endif %} {%- endif %}
  </head>
  <body>
    <header class="color-primary grid-container">
      <div class="grid-row flex-align--center gap">
        <a href="/"><img src="/assets/images/it-me.png" alt="go home" /></a>
        <div class="flex-grow">
          suddenlygreg.com{%if title != blank %} » {{ title }}{% endif %}
        </div>
        <div aria-hidden="true">
          <a href="#" onClick="toggleUIMode('light')">light</a>
          /
          <a href="#" onClick="toggleUIMode('dark')">dark</a>
          /
          <a href="#" onClick="toggleUIMode()">system</a>
        </div>
      </div>
    </header>

    <main>
      {{ content }}
    </main>

    <footer class="color-primary-lighter grid-container">
      <div class="grid-row flex-justify--center gap">
      <a rel="me" href="https://bsky.app/profile/suddenlygreg.com">@suddenlygreg.com on Bsky</a>
      | <a href="https://code.suddenlygreg.com">code repos</a>
      </div>
    </footer>

    <script async type="module" src="/js/main.js"></script>
  </body>
</html>
