---
layout: layouts/default
eleventyComputed:
  title: "Today in History » {% if day.date %}{{ day.date }}{% else %}All of them{% endif %}"
  meta:
    description: "{% if day %}{{ day.entries[0].year }}: {{ day.entries[0].title }}{% else %}A collection of Today in History comics{% endif %}"
    image: "{% if day %}https://mgwalker.github.io/assets/images/today-in-history{{ day.iso}}_{{ day.entries[0].year }}.jpg{% endif %}"
    imageAlt: "{% if day %}{{ day.entries[0].caption }}{% endif %}"
---

<div id="today-in-history">
  <nav>
    <a href="/today-in-history/{{ day.previous }}">
      <ld-icon name="arrow-double-left" size="sm"></ld-icon>
      Previous
    </a>
    •
    <a href="/today-in-history/all">Index</a>
    •
    <a href="/today-in-history/{{ day.next }}">
      Next
      <ld-icon name="arrow-double-right" size="sm"></ld-icon>
    </a>
  </nav>

  <h1>{{ day.date }}</h1>
  {% for img in day.entries %}
  <div>
    <h3>{{ img.year }}</h3>
    <figure>
      <img
        src="/assets/images/today-in-history/{{ day.iso }}_{{ img.year }}.jpg"
        alt="{{ img.caption }}"
      />
      <figcaption class="sr-only">
        {{ day.date}} {{ img.year }}: {{ img.title }}
      </figcaption>
    </figure>
  </div>
  {% endfor %}
  {{content}}
</div>
