thing-group {
  & * {
    display: block;
  }

  h2 {
    margin-bottom: 1rem;
    background: var(--bg-header);
    color: var(--text-header);
    padding: 0 1rem;
  }

  thing-group-description {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  thing-container {
    display: flex;
    flex-wrap: wrap;

    a-thing {
      display: block;
      width: calc(33% - 1rem);
      margin: 0.5rem;

      @media screen and (max-width: 640px) {
        width: 100%;
        margin: 0;

        & + a-thing {
          margin-top: 1rem;
          padding-top: 1.5rem;
          border-top: 1px solid var(--line-color);
        }
      }

      thing-image {
        background-color: var(--bg-header);
        height: 175px;
        background-image: var(--bg-image);
        background-repeat: none;
        background-position: center;
        background-size: cover;
        border: 1px solid var(--bg-header);
        border-radius: 5px;
      }

      thing-title {
        display: block;
        font-size: 1.2em;
        font-weight: 800;
      }

      thing-description {
      }
    }
  }
}
